.first {
    background-color: #fffcf7;
    border-width: 15px;
    border-style: solid;
    border-color: #fccb90;
    margin: 40px 150px 50px;
    max-block-size: 50%;
    border-radius: 25px;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    display: block;
  }

  button {
    border-radius: 7px;
    border-style: solid;
    border-color: #f5ce86;
    border-width: 5px;
    background-color: #fae0c1;
    transition: all 200ms ease;
  }

  form {
    text-align: left;
  }

  input {
    border-radius: 7px;
    border-style: solid;
    border-color: #fccb90;
    border-width: 5px;
    background-color: white;
  }

  button:hover {
    background-color:rgb(196, 189, 180);
  }

  .search {
    transition : all 200ms ease;

  }
  .search:hover {
    background-color:#f5ce86;
  }
  
  input .submit {
    color: grey;
  }
  
  .third {
    display: inline-block;
  }

  .fa-cloud-rain {
    color: #c8e7ed;
  }
  
  .fa-cloud-sun {
    color: #f2c6b4;
  }
  
  .fa-sun {
    color: #ffbd39;
  }

  h1 {
    text-align: center;
    color: #6639a6;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", sans-serif;
    letter-spacing: 0px;
    line-height: 50px;
    margin-bottom: -20px;
  }
  
  h2 {
    text-align: center;
    color: #6639a6;
    font-family: "Courier New", monospace;
    letter-spacing: -1px;
    margin-bottom: 10px;
  }
  
  strong {
    line-height: 50px;
  }
  
  p {
    text-align: center;
    font-size: 100px;
    line-height: 100px;
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  h3 {
    text-align: center;
    margin-top: 0;
    color: #aa96da;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", sans-serif;
    letter-spacing: 0px;
  }
  .degrees {
    margin-top: -10px;
    color: #f76d5f;
}

  .fourth {
  line-height: 50px;
  font-size: 50px;
}

  .data_w {
    text-align: left;
    color:#aa96da;
  }
  
  li {
    text-align: center;
    list-style-type: none;
    line-height: 25px;
    font-size: 18px;
    color: #f76d5f;
    font-family: "Courier New", monospace;
    letter-spacing: -1px;
    }
  
  .second {
    text-align: center;
  }
  
  .units {
    font-size: 15px;
    position: relative;
    top: -10px;
    left: -5px;
  }

  .units2 {
    font-size: 10px;
    position: relative;
    top: -10px;
    left: -5px;
    color: #f76d5f;
  }
  
  .a1 {
    color: #6639a6;
  }
  
  .a1:hover {
    color: #ffbd39;
  }
  
  .a2 {
    color: #f76d5f;
  }

  .a2:hover {
    color:  #ffbd39;
  }
  .coder {
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #aa96da;
    margin-top: -70px;
  }

  ul {
    padding : 0px;
    margin : 15px;
  }

  .weather {
    margin: 0 auto;
    display: inline;
  }

  body {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);;
  }